.topbar {
  background-color: blueviolet;
  width: 100vw;
  min-width: 733px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: #fff;
}

.topbar p {
  font-weight: 900;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.topbar .fa-solid {
  font-size: 30px;
  margin-right: 10px;
}

.fa-brands {
  font-size: 60px;
  margin-right: 10px;
  color: #131313;
}

@media only screen and (max-width: 530px)  {
  .topbar{
    min-width: 530px;
  }
}