*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1{
    width: 50vw;
    margin-left: 20px;
    margin-top: 20px;
    background-color: blue;
}

.box1 p{
    width: 80vw;
    margin-left: 4px;
    padding: 5px;
    background-color: lightblue;
}

.box2{
    width: 50vw;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #d91aa9;
}

.box2 p{
    width: 80vw;
    margin-left: 4px;
    padding: 5px;
    background-color: #c4b6b7;
}