.Login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .heading{
    text-align: center;
  }

  .login-box {
    padding: 40px;
    min-width: 300px;
    border: 1px solid #000000;
    border-radius: 4px;
  }

  label,
  input {
    display: block;
    width: 100%;
    margin-block: 8px;
  }
  label {
    font-weight: bold;
  }
  input {
    padding: 8px 16px;
    border: 1px solid #000000;
    border-radius: 4px;
  }

  .submit {
    background-color: #29b4ff;
    color: #ffffff;
    border: none;
    font-weight: bold;
  }

  .submit:hover{
    background-color: #249dde;
  }

  .subheading{
    margin-top: 16px;
  }
}
