@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-box{
    max-width: 500px;
    min-width: 350px;
    border: 3px solid #383535;
    border-radius: 10px;
    padding: 5px;
    background: #444444;
}

.grid-box{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.result-box, .input{
    border: 2px solid #00bdf6;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.btn-box{
    border: 2px solid #444444;
    text-align: center;
    border-radius: 10px;
    margin:2px;
}

#result{
    grid-column: 1/5;
}

#result .input{
    border: none;
    outline: none;
    font-size: large;
}

#btn-1{
    grid-column: 1/3;
}
#btn-16{
    grid-column: 1/3;
}
#btn-18{
    font-weight: 900;
    padding: 10px;
}

.btn-box:hover{
    background: purple;
    border-color: #ffffff;
    box-shadow: 1px 1px 5px #37ff00;
}

.btn{
    background: rgb(0, 204, 255);
}

.btn:hover{
    background: rgb(209, 255, 2);
    border-color: #ffffff;
    box-shadow: 1px 1px 5px #b300ff;
}