*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-box{
    width: 80vw;
    height: 100vh;
    display: flex;
    align-items: center;
    border: 2px solid greenyellow;
    margin-inline: auto;
    position: relative;
}

.div-left{
    height: 99%;
    width: 30%;
    margin-left: 2px;
    position: relative;
}
.name{
    border: 1px solid grey;
    margin-bottom: 2px;
}

.inner-name {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.inner-name li,i{
    padding: 2px;
}

.inner-name i{
    color:#23ac83
}

.skills{
    margin-top: 20px;
}

.skills p{
    margin-top:3px ;
}

.skills i{
    color:#23ac83
}

.out-div{
    background-color: #b9b9b9;
    width: 99%;
}
.in-div92{
    background-color: #23ac83;
    width: 92%;
}

.in-div82{
    background-color: #23ac83;
    width: 82%;
}

.in-div75{
    background-color: #23ac83;
    width: 75%;
}

.in-div50{
    background-color: #23ac83;
    width: 50%;
}

.in-div100{
    background-color: #23ac83;
    width: 100%;
}

.in-div80{
    background-color: #23ac83;
    width: 80%;
}

.in-div40{
    background-color: #23ac83;
    width: 40%;
}

.language{

    margin-top: 20px;
}

.language i{
    color:#23ac83
}

.div-right{
    height: 99%;
    width: 70%;
    margin-right: 2px;
    margin-left: 5px;
    border: 1px solid black;
    position: relative;
}

.work-exprience{
    height: 50%;
}

.work-exprience i{
    color:#23ac83
}

.education{
    height: 50%;
    margin-top: 2px;
}

.education i,h4{
    color:#23ac83
}

.work-exprience h4{
    margin-top: 5px;
    
}

.work-exprience .topic{
    color: #b9b9b9;
    
}

.education .topic{
    color: #b9b9b9;
}

.work-exprience p{
    margin-top: 5px;
    
}

.education p{
    margin-top: 5px;
    
}

.work-exprience span{
    background-color: #23ac83;
    color: aliceblue;
    padding: 3px;
    border: 1px solid black;
}

.work-exprience .first{
    margin-top: 8px;
}

.work-exprience section{
    margin: 30px 5px;
}

.education .first{
    margin-top: 8px;
}

.education section{
    margin: 50px 5px;
}