*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    margin: auto;    
    width: 100vw;
}

table th, td{
    padding: 5px;
    text-align: center;
}

table nav ul li{
    display: inline-block;
}
table nav ul li a{
    text-decoration: none;
}

.EDUCATION h5{
    margin-left: 10px;
    margin-bottom: 5px;
}

.EDUCATION hr{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.EDUCATION ul{
    margin-left: 10px;
}

.EDUCATION ul li{
    margin-left: 20px;
    margin-bottom: 5px;
}

.EDUCATION p,span{
    margin-left: 20px;
}

.relevent h5{
    margin-left: 10px;
    margin-bottom: 5px;
}

.relevent hr{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.relevent ul li{
    display: inline-block;
    font-size: small;
    padding: 5px;
    margin-left: 16px;
    margin-bottom: 5px;
}

.technical h5{
    margin-left: 10px;
    margin-bottom: 5px;
}

.technical hr{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.technical ul,li{
    font-size: small;
    margin-left: 16px;
    margin-bottom: 5px;
}

.projects h5{
    margin-left: 10px;
    margin-bottom: 5px;
}

.projects hr{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.projects ul,li{
    font-size: small;
    margin-left: 16px;
    margin-bottom: 5px;
}
.projects span{
    background-color: lightgray;
}
.projects p{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.hobbies h5{
    margin-left: 10px;
    margin-bottom: 5px;
}

.hobbies hr{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.hobbies ul,li{
    font-size: small;
    margin-left: 16px;
    margin-bottom: 5px;
}

.address h5{
    margin-left: 10px;
    margin-bottom: 5px;
}

.address hr{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.address ul,li{
    font-size: small;
    margin-left: 16px;
    margin-bottom: 5px;
}

.outerbox{

    position: relative;
    align-items: center;
    background-color: aliceblue;
    border: 5px solid red;
}

.top{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #000000;
    border-radius: 100px;
    bottom: 10px;
    right: 10px;
}

.top a{
   text-decoration: none;
   color: aliceblue;
   padding: 10px;
}